<h1 class="title">Help</h1>
<p>
  This application displays observed variants as reported in the
  <a href="https://www.gisaid.org/">GISAID</a> database
  to allow for simple evaluation of their potential impact on primer effectiveness
</p>
