<h1 class="title">History</h1>
<p>
  Initial work on this application began in March 2020
  and evolved over the course of the year to be of potential use to other developers
  of SARS-CoV-2 diagnostic assays
</p>
<p>
  It remains a work in progress
</p>
