<h1 class="title">History</h1>
<ul>
  <li>
    <span class="bold-text">March 2020:</span> Initial work on this application began.
    It evolved over the course of the year to be of potential use to other developers
    of SARS-CoV-2 diagnostic assays.
  </li>
  <li>
    <span class="bold-text">November 2022:</span> Additional checks were added to
    eliminate duplicate sequence and variant records.
  </li>
  <li>
    <span class="bold-text">January 2023:</span> Functionality was added to automatically
    align newly-added primer sets to the genome to reduce overhead and prevent errors.
  </li>
  <li>
    <span class="bold-text">May 2023:</span> The data source was switched from GISAID to NCBI GenBank.
  </li>
  <li>
    <span class="bold-text">June 2023:</span> Lineage calling is now performed on all
    new sequences using Pangolin. In addition, all existing sequences are re-called periodically
    to ensure newly-classified lineages are reflected properly.
  </li>
  <li>
    <span class="bold-text">July 2023:</span> The previous static lineage variants images have
    been replaced with an interactive igv.js visualization that updates from the database daily,
    showing which primers are likely affected by variants for a selection of potentially-interesting
    lineages.
  </li>
  <li>
    <span class="bold-text">October 3, 2023:</span> An igv.js visualization was added to each primer set's page
    to give an overview of its layout, along with FASTA and BED download links. Lineage groups
    also now display alias names when the name is 3 levels deep and has an alias (e.g. "XBB.1.9.2*" now is "EG* (XBB.1.9.2*)").
    Large primer sets (e.g. ARTIC and VarSkip) are now supported as well. Additionally, some bugs have been fixed regarding
    primer set subscriptions and locations, and the data processing scripts have received some stability improvements.
  </li>
  <li>
    <span class="bold-text">October 16, 2023:</span> Several large multiplex-PCR primer sets (e.g. ARTICv3, VarSkip, and Midnight) are now available on the site,
    with more to be added soon. The data processing pipeline additionally received some stability fixes.
  </li>
  <li>
    <span class="bold-text">February 24, 2024:</span> Multiple organisms are now supported. RSV has been added to the site
    using NCBI Virus data. RSV lineages are called with the Nextclade lineage caller, and the site now supports primer sets,
    the lineage variants igv.js visualization, FASTA/BED downloads, and most other SARS-CoV-2 features for RSV as well.
  </li>
</ul>
<br>
<p>
  This tool remains a work in progress and under active development. Future changes will be added to this list as they are released.
</p>
