
<h1>Lineages for <% @organism.full_name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @lineages.each do |lineage| %>
      <tr>
        <td><%= lineage.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
