<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New Primer Set Created/Updated</h1>
<p>
  A primer set has been created/updated: <%= @url %>.
</p>
</body>
</html>