<h1 class="title">Primer Monitoring Tool</h1>
<div class="content">
  <p>
    This application compares primer sequences with known SARS-CoV-2 variants from the
    <a href="https://www.ncbi.nlm.nih.gov/genbank/">NCBI GenBank</a> database to allow for simple evaluation of their potential impact on
    primer effectiveness.
  </p>
  <p>
    <%= link_to "Logged in", new_user_session_path %> users can subscribe to be notified when a variant overlapping
    a primer set reaches a threshold fraction of observed sequences in any geographic region.
  </p>
  <p>
    This tool has been released quickly in response to concerns about the effects of emergent viral variants on primer
    effectiveness.
    It is under active development at <a href='https://github.com/bwlang/primer_monitor'>GitHub</a>.
    Contributions, problem reports, and feature requests are welcome.
  </p>
  <p>
    Your email address (if you have registered for an account) is used only in relation to this application as you
    indicate.
    The tool intends to reliably detect variation but comes with no warranty.
  </p>
  <section>
    <h2>Acknowledgments:</h2>

    <p>
      Benson, D. A., Cavanaugh, M., Clark, K., Karsch-Mizrachi, I., Lipman, D. J., Ostell, J., & Sayers, E. W. (2013) GenBank.
      <i>Nucleic acids research</i>, 41(Database issue):D36-42.
      DOI: <%= link_to '10.1093/nar/gks1195 ', 'http://dx.doi.org/10.1093/nar/gks1195 ' %>
      PMCID: <%= link_to '3531190', 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3531190/' %>
    </p>
  </section>
</div>