<h1 class="title">About Primer Monitor</h1>
<p>
  This application compares primer sequences with known SARS-CoV-2 variants.
  Your email address (if you have registered for an account) is used only in relation to this application as you indicate.
  The tool intends to reliably detect variation but comes with no warranty.
</p>
