<div class='nested-fields is-horizontal'>
  <div class="field-body is-horizontal">
    <%= f.text_field :name, placeholder: "Oligo name" %>
    <%= f.text_field :sequence, placeholder: "DNA sequence (GCAT)" %>
    <%= link_to_remove_association "Remove Oligo", f %>
  </div>
</div>
