<h1 class="title">Primer Sets</h1>

<table>
  <thead>
    <tr>
      <th>Set Name</th>
      <th>Organism</th>
      <th>Oligos</th>
    </tr>
  </thead>

  <tbody>
    <% @primer_sets.each do |primer_set| %>
      <tr>
        <td><%= link_to primer_set.name, primer_set %></td>
        <td><%= link_to primer_set.organism, primer_set.organism %></td>
        <td><%= primer_set.oligos.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primer Set', new_primer_set_path %>
