@import "bulma";
body {
  background-color: $background;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: $background;
  padding: 10px;
  font-size: 11px; }


th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: $success; }

.field_with_errors {
  @extend .is-danger
 }

#error_explanation {
  width: 450px;
  border: 2px solid $danger;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: $background; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: $danger;
  color: $background; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
