body {
  background-color: var(--bulma-background);
  color: #333;
  margin: 33px; }

body, p, ol, ul:not(.menu-list), td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: var(--bulma-background);
  padding: 10px;
  font-size: 11px; }


th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: var(--bulma-success); }

// Rails wraps invalid fields and their labels in .field_with_errors
.field_with_errors {
  input, select, textarea {
    border-color: var(--bulma-danger);
  }

  label {
    color: var(--bulma-danger);
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid var(--bulma-danger);
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: var(--bulma-background); }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: var(--bulma-danger);
  color: var(--bulma-background); }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block;
}
ul:not(.menu-list) {
  list-style: unset;
}